* text=auto
# 屏蔽文档与 build 文件统计
Documentation/ linguist-documentation
# make things fun, lol
*.md linguist-language=vue
*.wl linguist-language=bash
Config/ linguist-language=perl
BilibiliLinkLoader.m linguist-language=ruby
Packages/__Dev/*.m linguist-language=mercury
